@{
    ViewData["Title"] = "Home Page";
}

@model List<Quote>

<div class="text-center">
    <h1 class="display-4">Quotes-a-plenty</h1>
</div>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Quote</td>
            <td>Author</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
            {
                <tr>
                    <td>@x.QuoteText</td>
                    <td>@x.Author</td>

                    <td><a asp-controller="Home" asp-action="Details" asp-route-quoteid="@x.QuoteId">Details</a></td>
                </tr>
            }
    </tbody>

</table>
